{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <!-- Page Content -->
    <!-- Banner Starts Here -->
    
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                    {% for message in app.flashes('success')%}
                    <div class="alert alert-success">
                        {{message}}
                    </div>
                    {% endfor%}
                  <h6>Nous Sommes Pret a vous aider </h6>
                  <h4>Assistance<br>&amp; Epargne</h4>
                  <p> La Mobilisation de l'epargne , l'assistance et la mise en place de vos projets sont nos priorités majeurs .</p>
                  <a href="{{path('contact')}}" class="filled-button">contacter Nous </a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Nous Sommes des Professionnels Asermentés</h6>
                  <h4>FINANCEMENT<br>&amp; INVESTISSEMENT</h4>
                  <p>Le Conseil en gestion des Portefeuilles  est l'une de nos missions raison pour laquelle notre slogan phare est : <strong>Le client est Roi.</strong></p>
                  <a href="{{path('service')}}" class="filled-button">Notre Service </a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Nous Avons des Professionnels de la finance a votre Service.</h6>
                  <h4>Investissement<br>&amp; Accompagnement</h4>
                  <p>Financer l'economie dans le domaine agro-pastoral afin de developper la chaine de valeur des filieres volaille, Porcine et Oléagineux .</p>
                  <a href="{{path('about')}}" class="filled-button">A Propos</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Besion d'une Aide Maintenant ?</h4>
            <span>Veillez nous contacter pour tout vos soucis en cliquant sur le bouton .</span>
          </div>
          <div class="col-md-4">
            <a href="{{path('contact')}}" class="border-button">Contacter Nous </a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Services  <em>Financier Offert</em></h2>
              <span> Voici en Image Nos Differents Services: </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{asset('/Assets/images/MOMO.jpg')}}" alt="">
              <div class="down-content">
                <h4>Mobile Money </h4>
                <p>Vous pouvez a partir de chez vous gerer votre compte Mobile Money en toute simplicité .</p>
                <a href="" class="filled-button">Read More</a>
                <br>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{asset('/Assets/images/OM.png')}}" alt="">
              <div class="down-content">
                <h4>Orange Money<br></h4>
                <p>Vous pouvez a partir de chez vous gerer votre compte Orange Money en toute simplicité </p>
                <a href="" class="filled-button">Read More</a>
                <br>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{asset('/Assets/images/ENEO.png')}}" alt="">
              <div class="down-content">
                <h4>Regler Vos Factures ENEO<br></h4>
                <p>Vous pouvez a partir de votre compte New Money payer votre facture electricite sans tracaserie de Rang  </p>
                <a href="" class="filled-button">Read More</a>
              </div>
              <br>
              <br>
            </div>
          </div>
          <br>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{asset('/Assets/images/CDE.jpg')}}" alt="">
              <div class="down-content">
                <h4>Regler votre  Facture CDE<br></h4>
                <p>Vous pouvez a partir de votre compte New Money payer votre facture  de l'eau sans tracaserie de rang </p>
                <br>
                <a href="" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{asset('/Assets/images/UBA-1.png')}}" alt="">
              <div class="down-content">
                <h4> Transfert Nationaux et Internationaux </h4>
                <p>Vous  pouvez effectuer  toutes vos transactions d'envoie et retrait </p>
                <a href="" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{asset('/Assets/images/new.jpg')}}" alt="">
              <div class="down-content">
                <h4> carte Bancaire  et mutuelle de sante NEW MONEY </h4>
                <p>Vous  pouvez effectuer  toutes vos transactions d'envoie et retrait </p>
                <a href="" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>La securite de vos finances ici et nulle part ailleurs </span>
              <h2>Nos solutions pour la croissance de votre <em>entreprise </em></h2>
              <p>Votre microfinance pret de chez vous avec des offres de produits et de services qui depasse toute concurrence . 
              <br><br>Venez decouvrir juste par curiosite et vous y rester par satistafactiion parce que chez nous le client est Roi.</p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">945</div>
                  <div class="count-title">Heure de Travail</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">4</div>
                  <div class="count-title">Agences</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">3000</div>
                  <div class="count-title">Clients</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">50</div>
                  <div class="count-title">Employe</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{{asset('/Assets/images/team21.jpg')}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Qui Sommes Nous ?</span>
                    <h2>En savoir plus sur  <em>notre entreprise</em></h2>
                    <p>NEW MONEY est une societe de cooperative innovante d'epargne et de credit visant les personnes de toutes les couches sociales et particuliererement celles n'ayant pas access au systeme de financement conventionnel <br>
                    <br><em>NEW MONEY </em>  tire avantage des outils technologique tels que la BlockChain et l'intelligence artificielle pour ameliorer l'experience client et s'ouvrir de nouveaux marches internationaux</p>
                    <a href="#" class="filled-button">Lire plus ...</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Qu'est ce qu'ils ont <em>dit a propos de nous </em></h2>
              <span>TÉMOIGNAGES DE NOS PLUS GRANDS CLIENTS</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>NGOG NLOMIEN GAITAN</h4>
                  <span>Agriculteur </span>
                  <p>"New money a travers sa gamme de services plus particulierement Compte agropastoral  m'a facilement  permis  de financer la culuture de 10 Hectares de Pasteques "</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>ABDOULAYE MOUHAMED </h4>
                  <span>Commercant </span>
                  <p>"Avec le Compte Moubarak , NEW MONEY m'a permis de passer de tres belle fete de Ramadan ."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>David Wood</h4>
                  <span>Chief Accountant</span>
                  <p>"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Andrew Boom</h4>
                  <span>Marketing Head</span>
                  <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="callback-form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Un Soucis ? <em>Ecriver Nous</em></h2>
              <span>Veillez Remplir le Formulaire Suivant: </span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
               <center><h1 >  Nos Partenaires </h1></center><br>
            <div class="owl-partners owl-carousel">
           
              <div class="partner-item">
                <img src="{{asset('/Assets/images/UBA-1.png')}}" title="1" alt="1">
              </div>
              
              <div class="partner-item">
                <img src="{{asset('/Assets/images/CNPS.png')}}" title="2" alt="2">
              </div>
              
              <div class="partner-item">
                <img src="{{asset('/Assets/images/jade.png')}}" title="3" alt="3">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="4" alt="4">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="5" alt="5">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <img src="{{asset('/Assets/images/logo-1.jpg')}}" alt="">
            <p>Faite un tour chez nous juste par curiosite et vous y resterez par satisfaction.</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>COMPTES  NEW MONEY</h4>
            <ul class="menu-list">
              <li><a href="#">Compte Noel</a></li>
              <li><a href="#">Compte New Finance -CASH</a></li>
              <li><a href="#">Compte capital depart </a></li>
              <li><a href="#">Compte tabaski</a></li>
              <li><a href="#">Compte Moubarak</a></li>
              <li><a href="#">Compte classique</a></li>
              <li><a href="#">Compte bloqué</a></li>
              <li><a href="#">Compte Diaspora</a></li>
              <li><a href="#">Compte credit Semaine</a></li>
              <li><a href="#">Compte Scolaire</a></li>
              <li><a href="#">Compte Salaire</a></li>
              <li><a href="#">Compte Courant PP</a></li>
              <li><a href="#">Compte Courant PME ET ETS</a></li>
              <li><a href="#">Tontine NEW MONEY  </a></li>
              <li><a href="#">Compte Agropastoral</a></li>
              <li><a href="#">Compte Maladie</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>PLUS INFOS</h4>
            <ul class="menu-list">
              <li><a href="#">Qui Sommes Nous ?</a></li>
              <li><a href="#">Comment Travaillons Nous ?</a></li>
              <li><a href="#">Besoin Aide ?</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item last-item">
            <h4>Contacter Nous</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Envoyer le Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2021 New Money Co., Ltd.
          </div>
        </div>
      </div>
    </div>
{% endblock %}
